analytics_engineering_skeleton:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: "{{ env_var('DBT_DUCKDB_PATH', 'target/analytics.duckdb') }}"
      schema: analytics
      threads: 1
